@media (max-width: 2000px) { 
  .header__list {
    display: flex;
  }
  .order__content {
    display: block;
  }
  .order__text {
    max-width: 85%;
    margin: 0 auto 50px;
  }
  .order__text-item {
    text-align: justify;
  }
  .form__order--small {
    width: 550px;
    min-height: 450px;
    margin: 0 auto 50px;
  }
  .form__order--small::before {
    width: 550px;
  }
  .order__fruit:nth-child(3) {
    display: block;
  }
  .order__fruit {
    margin-bottom: 25px;
  }
}

@media (max-width: 1920px) {
  .order__fruits-column {
    display: none;
  }
}

@media (max-width: 1715px) {
  .catalog {
    margin: 0 auto;
  }
}

@media (max-width: 1300px) {
  .catalog {
    padding: 15px;
  }
  .header__list-item {
    margin: 0 20px;
  }
  .header__row {
    justify-content: space-around;
  }
  .about__item {
    max-width: 250px;
  }
  .about__img-picture {
    width: 250px;
    height: 300px;
    overflow: hidden;
  }
  .about__text {
    max-width: 280px;
    margin: 0 auto;
    font-size: 25px;
  }
}

@media (max-width: 1240px) {
  .header__list-item {
    margin: 0 15px;
  }
  .header__row {
    justify-content: space-evenly;
  }
  .order__text {
    margin-bottom: 35px;
  }
  .order__text-item{
    font-size: 25px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .header__row {
    justify-content: center;
  }
  .header__list-item:first-child,
  .header__list-item:last-child {
    margin-left: 35px;
  }
  .slider__img-picture {
    width: 150px;
    max-height: 250px;
  }
  .slider__mask {
    left: 5px;
    height: 100%;
    width: 150px;
  }
  .catalog__btn {
    margin: 0 15px;
    font-size: 25px;
    padding: 0 30px;
    line-height: 40px;
  }
  .catalog__buttons {
    margin-bottom: 25px;
  }
  .img, .img-mask {
    top: 5%;
    left: -35%;
  }
  .modal__dialog {
    margin-top: 25%;
    margin-left: 30%;
  }
  .modal__inf {
    font-size: 18px;
    max-width: 250px;
    top: 27%;
    right: -20%;
    padding: 20px;
  }
  .modal__content {
    min-height: 350px;
    max-height: 450px;
    overflow: scroll;
  }
  .footer__row {
    justify-content: center;
  }
  .order__text-item,
  .footer__text {
    font-size: 25px;
  }
  .footer__item:nth-child(2) {
    padding: 0 20px;
  }
}

@media (max-width: 1100px) {
  .firstscreen__title {
    margin: 0 auto 70px;
    max-width: 75%;
    text-align: justify;
  }
  .header__icons {
    display: none;
  }
  .form__order--big {
    margin: 0 auto;
  }
  .about__item {
    max-width: 200px;
    margin: 0 8px;
  }
  .about__img-picture {
    width: 200px;
    height: 240px;
    overflow: hidden;
  }
  .about__text {
    max-width: 200px;
    margin: 0 auto;
    font-size: 23px;
  }
  .about {
    padding-bottom: 50px;
  }
  .modal__dialog {
    margin-top: 20%;
    margin-left: 25%;
  }
}

@media (max-width: 980px) {
  .footer__item {
    font-size: 20px;
  }
  .footer__text {
    display: inline-block;
    max-width: 100px;
  }
  .footer {
    padding: 17px 0 10px; 
  }
}

@media (max-width: 970px) {
  .container {
    max-width: 750px;
  }
  .wrapper-bg {
    padding-top: 15px;
  }
  .form__order--small {
    width: 500px;
  }
  .form__order--small::before {
    width: 500px;
  }
  .modal__content {
    min-height: 400px;
  }
  .modal__text {
    padding: 30px 20px 30px 10px;
    align-self: flex-start;
    max-width: 250px;
  }
  .img, .img-mask {
    top: 12%;
    left: 52%;
    width: 220px;
    height: 300px;
    border-radius: 15px;
  }
  .modal__inf {
    top: 35%;
    right: 10%;
    font-size: 23px;
  }
}

@media (max-width: 870px) {
  .about__row {
    display: block;
  }
  .about__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-width: 100%;
  }
  .about__text {
    max-width: 590px;
    text-align: justify;
    margin: 0 25px 15px;
  }
  .about__img {
    display: none;
  }
  .subtitle {
    font-size: 38px;
  }
  .about__text--circle--orange::before {
    top: -4%;
    left: -2%;
  }
  .catalog__btn {
    font-size: 30px;
  }
  .modal__dialog {
    margin: 20% auto;
  }
}

@media (max-width: 850px) {
  .form__order--small::before {
    width: 490px;
  }
  .form__order--small {
    width: 490px;
  }
}

@media (max-width: 820px) {
  .header__row {
    justify-content: start;
  }
  .header__logo {
    margin-left: 80px;
  }
  .header__list {
    display: none;
  }
  .header__menu-btn .header__menu-line,
  .header__menu-btn .header__menu-line::before,
  .header__menu-btn .header__menu-line::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #23411D;
  }
  .header__menu-btn .header__menu-line {
    transition: all 0.3s ease 0s;
  }
  .header__menu-btn .header__menu-line::before {
    content: "";
    top: -8px;
  }
  .header__menu-btn .header__menu-line::after {
    content: "";
    top: 8px;
  }
  .header--fixed .header__menu-btn {
    top: 20px;
  }
  .header__menu--active .header__menu-btn .header__menu-line {
    transform: rotate(45deg);
  }
  .header__menu--active .header__menu-btn .header__menu-line::before {
    top: 0;
    right: 0;
    transform: rotate(0);
  }
  .header__menu--active .header__menu-btn .header__menu-line::after {
    top: 0;
    right: 0;
    transform: rotate(90deg);
  }
  .header__menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 10%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 999;
    background-color: transparent;
    border: none;
  }
  .header__menu--active .header__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 15;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 253, 253, 0.8);
    padding: 23px 0 13px;
  }  
  .header--fixed .header__list {
    top: 60px;
    background-color: white;
    padding: 30px 0 20px;
  }
  .header__menu--active .header__list .header__menu-link {
    color: #FFB13C;
    font-family: 'Neucha', sans-serif;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
    margin: 0 auto;
    border-bottom: 3px solid transparent;
  }
  .header__menu--active .header__list .header__menu-link:last-child {
    padding-right: 0;
  }
  .header__menu--active .header__list .header__menu-link:hover {
    border-bottom: 3px solid #FFB13C;
  }
  .header__list-item:first-child, 
  .header__list-item:last-child {
    margin: 0 15px;
  }  
  .header__menu-link {
    line-height: 20px;
  }
  .header__menu-link--active {
    border: 0;
  }
  .firstscreen {
    padding-top: 70px;
  }

  .footer__text {
    font-size: 20px;
  }  
  .footer__link {
    font-size: 15px;
  }  
}

@media (max-width: 767px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .header__logo {
    font-size: 35px;
    margin-left: 50px;
  }
  .header__menu-btn {
    top: 25px;
  }
  .header__menu--active .header__list {
    top: 67px;
    padding: 10px 0 3px;
  }  
  .header__menu--active .header__list .header__menu-link {
    font-size: 30px;
  }
  .firstscreen__title {
    font-size: 40px;
  }
  .form__order {
    width: 420px;
    min-height: 350px;
  }
  .form__order--big::before {
    width: 420px;
    height: 350px;
  }
  .form__order--small::before {
    width: 420px;
    min-height: 350px;
  }
  .form__title {
    font-size: 25px;
    margin-bottom: 15px;
    max-width: 400px;
  }
  .form__item {
    width: 370px;
  }
  .form__label-item {
    font-size: 20px;
    padding-right: 10px;
  }
  .form__btn {
    font-size: 25px;
    padding: 8px 90px;
  }
  .input__item {
    width: 280px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .firstscreen {
    padding: 40px 0 65px 0;
  }
  .firstscreen__title {
    margin-bottom: 40px;
  }
  .catalog {
  padding-bottom: 25px;
  }
}

@media (max-width: 740px) {
  .header__logo {
    margin-left: 45px;
  }
}

@media (max-width: 710px) {
  .header__logo {
    margin-left: 40px;
  }
  .img, .img-mask {
    display: none;
  }
  .modal__inf {
    font-size: 13px;
    max-width: 140px;
    top: 85%;
    right: 5%;
    padding: 10px;
  }
  .modal__content {
    min-height: 250px;
    padding: 20px 10px;
  }
  .modal__text {
    font-size: 15px;
    max-width: 300px;
    padding-top: 20px;
  }
  .modal__dialog {
    max-width: 350px;
    margin: 20% auto 20% 27%;
  }
}

@media (max-width: 680px) {
  .header__logo {
    margin-left: 20px;
  }
  .firstscreen__title--circle--orange::before {
    width: 80px;
    height: 80px;
  }
  .about {
    padding-bottom: 25px;
  }
  .footer__text {
    display: block;
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
  }
}

@media (max-width: 640px) {
  .img-slider__img {
    height: 220px;
  }
  .about__text {
    max-width: 520px;
  } 
  .modal__dialog {
    margin: 30% auto 20% 24%;
  }
  .order__text {
    margin-bottom: 25px;
  }
  .order__text-item {
    font-size: 20px;
  }
  .img-slider__mask,
  .img-slider .swiper-pagination,
  .img-slider .swiper-pagination-bullet {
    display: none;
  }
  .img-content__img {
    font-size: 25px;
  }
  .img-slider .swiper-button-prev::after,
  .img-slider .swiper-button-next::after {
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
  }
  .img-slider .swiper-button-prev,
  .img-slider .swiper-button-next {
    top: 80%;
  }
}

@media (max-width: 600px) {
  .header__menu--active .header__list .header__menu-link {
    font-size: 28px;
  }
  .modal__dialog {
    margin: 30% 15%;
  }
}

@media (max-width: 545px) {
  .firstscreen__title {
    font-size: 36px;
    text-align: left;
    max-width: 90%;
  }
  .header__menu--active .header__list .header__menu-link {
    font-size: 25px;
  }
  .form__order--big::before {
  top: -2%;
  left: -3%;
  }
  .catalog__btn {
    margin: 0 10px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 25px;
  }
}

@media (max-width: 520px) {
  .form__order--big::before,
  .form__order--small::before {
  display: none;
  }
  .subtitle {
    font-size: 35px;
  }
  .subtitle--circle--orange::before {
    top: -55%;
    left: 72%;
  }
}

@media (max-width: 500px) {
  .fullscreen {
    padding-top: 10px;
  }
  .header__logo {
    font-size: 30px;
  }
  .header__menu-btn {
    top: 14px;
    width: 25px;
    height: 25px;
  }
  .header--fixed {
    padding-bottom: 10px;
  }
  .header--fixed .header__list {
    top: 55px;
  }
  .header__menu--active .header__list {
    top: 45px;
    padding: 10px 0 0;
  }
  .header__menu--active .header__list .header__menu-link {
    font-size: 22px;
  }
  .img-slider__img {
    height: 180px;
  }
  .img-content__img {
    font-size: 18px;
  }
}

@media (max-width: 485px) {
  .firstscreen__title {
    font-size: 35px;
  }
}

@media (max-width: 478px) {
  .form__title {
    font-size: 23px;
    width: 320px;
  }
  .form__item {
    width: 320px;
  }
  .form__label-item {
    font-size: 18px;
    padding-right: 5px;
  }
  .form__btn {
    font-size: 25px;
    padding: 8px 70px;
  }
  .header__menu--active .header__list .header__menu-link {
    font-size: 20px;
  }
  .input__item {
    width: 230px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .modal__dialog {
    max-width: 300px;
    margin: 30% auto 20% 20%;
  }
  .modal__inf {
    top: 85%;
  }
  .form__order {
    width: 380px;
  }
}

@media (max-width: 460px) {
  .modal .slider__item {
    top: 85%;
    left: 13%;
    z-index: 4;
  }
  .modal .slider__img-picture {
    border-radius: 50%;
    width: 115px;
    height: 115px; 
  }
  .modal .slider__mask {
    border-radius: 50%;
    width: 115px;
    height: 115px;
  }
  .modal__inf {
    right: 7%; 
    width: 115px;
    height: 115px;
    padding: 11px 11px;
    border: none;
  }
  .modal__dialog {
    margin: 35% auto;
  }
  .img-slider__img {
    height: 150px;
  }
} 

@media (max-width: 450px) {

  .subtitle {
    font-size: 32px;
  }
  .about__text {
    font-size: 20px;
  }
  .subtitle--circle--orange::before {
    width: 60px;
    height: 60px;
    top: -45%;
    left: 80%;
  }
}

@media (max-width: 423px) {
  .firstscreen__title {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 25px;
  }
  .subtitle--circle--orange::before {
    left: 70%;
    width: 36px;
    height: 36px;
  }
  .about {
  padding-bottom: 15px;
  }
  .about__text--circle--orange::before,
  .order__text--circle--orange::before {
    width: 20px;
    height: 20px;
  }
  .img-content__img {
    font-size: 15px;
  }
}

@media (max-width: 415px) {
  .header__menu--active .header__list .header__menu-link {
    font-size: 17px;
  }
  .form__order{
    width: 300px;
    min-height: 200px;
    padding: 20px 0;
  }
  .form--circle--orange::before {
    width: 40px;
    height: 40px;
    top: 2%;
    left: 70%;
  }
  .form__title {
    font-size: 15px;
    width: 240px;
  }
  .form__item {
    width: 250px;
  }
  .form__label-item {
    font-size: 15px;
    padding-right: 2px;
  }
  .form__btn {
    font-size: 15px;
    padding: 4px 50px;
  }
  .input__item {
    width: 180px;
    height: 35px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .firstscreen__title--circle--orange::before {
    width: 60px;
    height: 60px;
  }
  .catalog__btn{
    margin: 0 5px;
    padding: 0 15px;
  }
  .img-slider__img {
    height: 120px;
  }
  .form__order--small {
    margin: 0 auto 30px;
  }
  .footer__link {
    font-size: 12px;
  }
}

@media (max-width: 390px) {
  .header__menu--active .header__list .header__menu-link {
    font-size: 16px;
  }
  .firstscreen__title {
    font-size: 25px;
  }
  .firstscreen {
    padding: 40px 0 20px 0;
  }
  .form--circle--orange::before {
    left: 75%;
  }
  .about__text {
    font-size: 16px;
  }
  .modal__dialog {
    margin: 45% auto;
  }
  .order__text-item {
    font-size: 16px;
  }
  .footer__item:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 370px) {
  .footer__text {
    font-size: 15px;
    line-height: 20px;
  }
  .footer__link {
    font-size: 10px;
  }
}

@media (max-width: 342px) {
  .form__item {
    width: 230px;
  }
  .form__order{
    width: 265px;
    min-height: 180px;
    padding: 15px 0;
  }
  .form__label-item {
    font-size: 13px;
  }
  .input__item {
    width: 75%;
  }
}